body {
    font-size: 18px;
}

h1 {
    font-size: 40px;
}

span {
    font-size: 70px;
}

.starting-character {
    font-size: 50px;
}

.starting-character.first-overall-character {
    color: red;
}

.sample-copy {
    font-size: 24px;
}

footer.sample-copy {
    color: red;
}