@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&family=Zen+Dots&display=swap');

html {
    font-size: 16px;
    font-family: 'Roboto', Arial, sans-serif;
    line-height: 1.5rem;
    text-align: left;
}

h1 {
    font-size: 2rem;
    font-family: 'Zen Dots', serif;
    text-align: center;
    text-transform: capitalize;
}

p, div {
    text-indent: 2rem;
}

.starting-character {
    font-size: 2rem;
    font-weight: bold;
}

.starting-character.first-overall-character {
    color: rgba(8, 26, 113, 0.902);
    /* color: #2f682f; */
}

.sample-copy {
    font-size: 1.25rem;
}

footer.sample-copy {
    color: red;
    font-style: italic;
}

.key-info {
    text-decoration-line: underline;
    text-decoration-color: rgb(215, 41, 41);
    text-decoration-style: wavy;
}

.ninja {
    /* visibility: hidden; */
    /* display: none; */
    display: inline-block;
    width: 30%;
}