html {
    font-size: 18px;
}

h1 {
    font-size: 3rem;
}

span {
    font-size: 70px;
}

.starting-character {
    font-size: 3em;
}

.starting-character.first-overall-character {
    color: red;
}

.sample-copy {
    font-size: 1.25rem;
}

footer.sample-copy {
    color: red;
}