@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Serif:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;1,100;1,200;1,300;1,400;1,500;1,600;1,700&family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

html {
    font-size: 22px;
    line-height: 1.5rem;
    font-family: 'IBM Plex Serif', serif;
}

nav ul li {
    display: inline-block;
    width: 32%;
    text-align: center;
}

figure img {
    width: 100%;
}

figcaption {
    font-size: .8em;
    font-style: italic;
    line-height: .5rem;
}

h1, h2 {
    font-size: 2em;
    font-family: 'Montserrat', sans-serif;
    font-weight: 600;
}

h1 {
    text-align: center;
    text-decoration: underline solid rgba(1, 1, 56, 0.7);
}

h2 {
    font-size: 1.5em;
}

table {
    text-align: center;
    margin: auto;
    min-width: 70%;
}

th, td {
    border-bottom: 2px solid black;
    border-right: 2px solid black;
}

tbody th {
    text-align: center;
    text-indent: -2.5rem;
}

caption {
    font-size: 2rem;
    margin: 1rem;
    padding-bottom: .2rem;
}

form {
    text-align: center;
}

label {
    font-weight: bold;
}

div.form-label {
    margin: 6px 0;
}

footer {
    font-style: italic;
    font-size: .8rem;
    text-indent: 2rem;
    margin: 1rem 0;
}

.bold {
    font-weight: bold;
}

.centered {
    text-align: center;
}

.topics-header {
    display: flow-root;
    margin-top: 3rem;
    margin-bottom: .5rem;
}

.topics-header img {
    max-width: 4%;
    min-width: 1.54rem;
    float: left;
}

.topics-header h2 {
    text-indent: 1rem;
}

ul.topics {
    list-style: none;
    margin: 0 1em;
    padding: 0;
}

ul.topics li {
    border-bottom: 2px solid black;
}

.topic-title {
    font-family: 'Montserrat', sans-serif;
    font-weight: 500;
}

.topic-description {
    margin: 0;
    text-indent: 1.2rem;
}

.hire-me-header {
    margin: 2rem 0 2rem 0;
}

.bg-red {
    background-color: rgba(255, 0, 0, .28);
}

.bg-yellow {
    background-color: rgba(255, 234, 0, .28);
}

.bg-green {
    background-color: rgba(13, 255, 0, .28);
}

.bg-gray {
    background-color: rgba(78, 78, 78, 0.2);
}