@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Serif:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;1,100;1,200;1,300;1,400;1,500;1,600;1,700&family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

html {
    font-size: 16px;
    line-height: 1.5rem;
    font-family: 'IBM Plex Serif', serif;
}

nav ul li {
    display: inline-block;
    width: 32%;
    text-align: center;
}

figure img {
    width: 95%;
}

figcaption {
    font-size: .8em;
    font-style: italic;
    line-height: .5rem;
}

h1, h2 {
    font-size: 2em;
    font-family: Montserrat, sans-serif;
    font-weight: 600;
}

h1 {
    text-align: center;
    text-decoration: underline solid rgba(1, 1, 56, 0.7);
}

h2 {
    font-size: 1.5em;
}

table {
    text-align: center;
}

caption {
    font-size: 1.5rem;
}

form {
    text-align: center;
}

label {
    font-weight: bold;
}

footer {
    font-style: italic;
    font-size: .8rem;
    text-indent: 2rem;
}

.bold {
    font-weight: bold;
}

.centered {
    text-align: center;
}

section.topics-section h2 {
    text-indent: 1rem;
}

ul.topics {
    list-style: none;
    margin: 0 1em;
    padding: 0;
}

ul.topics li {
    text-decoration: underline solid black;
}

.topic-title {
    font-family: Montserrat, sans-serif;
    font-weight: 500;
}