body {
    font-size: 18px;
}

h1 {
    font-size: 2em;
}

h2 {
    font-size: 1.5em;
}

.bold {
    font-weight: bold;
}

ul.topics {
    list-style: none;
    margin: 0 1em;
    padding: 0;
}

.topic-title {
    font-weight: 600;
}

figcaption {
    font-size: .8em;
}

label {
    font-weight: bold;
}

footer {
    font-style: italic;
}

table {
    text-align: center;
}