body {
    font-size: 20px;
}

h1 {
    font-size: 40px;
}

h2 {
    font-size: 30px;
}

.bold {
    font-weight: bold;
}

figcaption {
    font-size: 16px;
}

label {
    font-weight: bold;
}

footer {
    font-style: italic;
}

table {
    text-align: center;
}